@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --ParaTransparent-white: hsla(0, 0%, 100%, 0.75);
  --HeadTransparent-white: hsla(0, 0%, 100%, 0.6);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--very-dark-blue);
}
.container {
  background-color: var(--dark-desaturated-blue);
  margin: 100px auto;
  justify-content: center;
  align-items: end;
  margin: auto;
  overflow: hidden;
}
img {
  width: 100%;
  height: auto;
}
.heading {
    justify-content: center;
    margin: auto 10px;
}
h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: var(--white);
}
.insights {
  color: var(--soft-violet);
}
p {
  font-family: "Lexend Deca", sans-serif;
  color: var(--ParaTransparent-white);
  font-size: 15px;
  line-height: 1.6em;
}
.stats {
  color: var(--HeadTransparent-white);
}
.stats ul {
    list-style-type: none;
}
.attribution {
  color: var(--ParaTransparent-white);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
